[Unit]
Description=Mission Control Server Service
After=network.target

[Service]
RuntimeDirectory=missioncontrol
User=missioncontrol
Group=missioncontrol
WorkingDirectory=/home/missioncontrol/RobocubsMissionControl/CartInformationDisplays
ExecStart=/home/missioncontrol/RobocubsMissionControl/CartInformationDisplays/venv/bin/python main.py

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target